@font-face {
    font-family: 'SourceSansPro';
        src: url('SourceSansPro-Regular.otf.woff') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
        src: url('SourceSansPro-Bold.otf.woff') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
        src: url('SourceSansPro-Semibold.otf.woff') format('truetype');
    font-weight: 500;
    font-style: normal;
}



/*

@font-face {
    font-family: 'SourceSansProBlack';
        src: url('SourceSansPro-Black.otf.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProBlackItalic';
        src: url('SourceSansPro-BlackItalic.otf.woff') format('truetype');
    font-weight: normal;
    font-style: italic;
      }


@font-face {
    font-family: 'SourceSansProBoldItalic';
        src: url('SourceSansPro-BoldItalic.otf.woff') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'SourceSansProExtraLight';
        src: url('SourceSansPro-ExtraLight.otf.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'SourceSansProExtraLightItalic';
        src: url('SourceSansPro-ExtraLightItalic.otf.woff') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'SourceSansProItalic';
        src: url('SourceSansPro-Italic.otf.woff') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'SourceSansProLight';
        src: url('SourceSansPro-Light.otf.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'SourceSansProLightItalic';
        src: url('SourceSansPro-LightItalic.otf.woff') format('truetype');
    font-weight: normal;
    font-style: italic;
      }


@font-face {
    font-family: 'SourceSansProSemiboldItalic';
        src: url('SourceSansPro-SemiboldItalic.otf.woff') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

*/
