/*
	Theme Name: Edsu
	Theme URI:
	Theme Version: 0.1
	Theme Date: 2018-11-10
	Theme Author: Heath Johns
	Theme Author URI: https://edsu.org
	Theme License: GPLv2
	Theme Update Check URI:
*/

@import 'fonts/SourceSansPro/style.css';

/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

@font-face {
    font-family: 'FreeMono';
        src: url('icons/fonts/FreeMono/FreeMono.otf') format('otf');
}

/* General page layout */

html {
    padding: 0px 20px;
    min-height: 100vh;
}

body {
    font-size: 18px;
    font-family: 'SourceSansPro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #111;
    margin: 0px auto 0px auto;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0.8em 0;
}

a {
    text-decoration: underline;
    color: #000;
    text-decoration-color: #555;
}

a:hover {
    color: #888;
    text-decoration-color: #888;
}

li {
    margin: 0 0 0 30px;
    padding: 0 0;
}

ul {
    margin: 0 0;
    padding: 0 0;
}

h1 {
    font-size: 35px;
    color: #666;
    margin-bottom: 20px;
    font-weight: normal;
    margin-left: -2px;
}


h2 {
    font-size: 28px;
    color: #444;
    margin: 20px 0 20px 0;
    font-weight: normal;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

blockquote {
    border-left: 5px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* QA globals */

.waiting-hider {
    display: none;
}

.qa-waiting {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    border-radius: 0 20px 20px 20px;
    line-height: 19px;
    border: 2px solid #ccc;
    color: #aaa;
}

.qa-main-heading {
    display: flex;
    flex-direction: row;
}

.qa-main {
    width: 100%;
    padding: 40px 50px 120px 50px;
    min-height: calc(100vh - 200px);
}

table.qa-form-tall-table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

table.qa-form-wide-table {
    border-collapse: separate;
    border-spacing: 10px 5px;
}

.qa-favorite-button, .qa-unfavorite-button {
    width: 20px;
    height: 20px;
    background: url('img/star.svg');
    background-size: cover;
    cursor: pointer;
    border: none;
    margin: 10px 10px 0 0;
    opacity: 0.2;
}

.qa-favorite-button:hover {
    opacity: 0.8;
}

.qa-unfavorite-button {
    opacity: 0.8;
}

.qa-unfavorite-button:hover {
    opacity: 0.2;
}

/* Top Band */

.top-band {
    width: 100%;
    height: 115px;
    border-bottom: 1px solid #ddd;
}

.top-band-content {
    max-width: 1264px;
    height: 100%;
    padding: 0 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-band-content .logo {
    background: no-repeat left/240px url('img/edsu_qna_logo.svg');
    height: 100%;
    width: 400px;
    height: 90px;
    width: 260px;
}

.qa-search-field {
    width: 195px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px 3px;
    padding: 5px 5px;
}

.qa-search {
}

.qa-search-button {
    display: none;
}



/* Bot Band */

.bottom-band-content {
    max-width: 1264px;
    padding: 0 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.qa-nav-main {
    border-right: 1px solid #ddd;
}

.qa-nav-main, .qa-nav-sub {
    padding-top: 20px;
}

.qa-nav-main li, .qa-nav-sub li {
    list-style-type: none;
    margin: 0 0;
}

.qa-nav-main li a, .qa-nav-sub li a {
    display: block;
    color: #111;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    white-space: nowrap;
}

.qa-nav-main li a:hover, .qa-nav-sub li a:hover {
    color: #777;
}

.qa-nav-main a.qa-nav-main-selected, .qa-nav-sub a.qa-nav-sub-selected {
    border: 1px solid #bbb;
    border-style: solid none solid none;
    padding: 4px 10px;
}

.qa-nav-main a.qa-nav-main-selected {
}


/* Side Panel */

.qa-sidepanel {
    width: 200px;
    flex: none;
    padding: 30px 20px;
    border-left: 1px solid #ddd;
    font-size: 14px;
}


/* Questions */

.qa-q-list {
    margin-top: 40px;
}

.qa-q-list-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 60px;
}

/* - Selecting */

.qa-a-select-button,
.qa-a-unselect-button {
    width: 30px;
    height: 38px;
    border: none;
    background: no-repeat center/30px url('img/prize.svg');
    opacity: 0.2;
    cursor: pointer;
    margin: 15px 0 10px 0;
}

.qa-a-select-button:hover {
    opacity: 0.8;
}

.qa-a-unselect-button {
    opacity: 0.8;
}

.qa-a-unselect-button:hover {
    opacity: 0.2;
}

.qa-a-selected-text {
    margin-bottom: 10px;
    font-weight: bold;
}



/* - Voting */

.qa-vote-buttons input {
    width: 30px;
    height: 30px;
    border: none;
}

.qa-vote-buttons input:hover {
    opacity: 0.8;
    cursor: pointer;
}

.qa-vote-buttons .qa-vote-up-disabled, .qa-vote-buttons .qa-vote-down-disabled {
    opacity: 0.1;
}

.qa-vote-buttons input.qa-vote-up-disabled:hover,
.qa-vote-buttons input.qa-vote-down-disabled:hover
{
    cursor: initial;
    opacity: 0.1;
}

.qa-q-item-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.qa-q-item-main {
    width: 100%;
}


.qa-vote-buttons {
    margin-bottom: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
}


.qa-vote-buttons .qa-vote-up-button,
.qa-vote-buttons .qa-voted-up-button
{
    background: no-repeat center/24px url('img/up_vote.svg');
}

.qa-vote-buttons .qa-vote-down-button,
.qa-vote-buttons .qa-voted-down-button
{
    background: no-repeat center/24px url('img/down_vote.svg');
}

.qa-vote-buttons .qa-vote-up-button,
.qa-vote-buttons .qa-vote-down-button {
    color: transparent;
    opacity: 0.2;
}

.qa-vote-buttons .qa-voted-up-button,
.qa-vote-buttons .qa-voted-down-button
{
    color: transparent;
    opacity: 0.8;
}

.qa-vote-buttons .qa-voted-down-button {
    margin-top: 30px;
}

.qa-vote-count, .qa-a-count {
    font-size: 14px;
    display: block;
    white-space: nowrap;
}

.qa-vote-count {
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    border-radius: 22px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.qa-netvote-count-pad {
    display: none;
}


/* - Question details */

.qa-q-item-title a {
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.qa-q-item-avatar-meta {
    font-size: 13px;
    color: #888;
}

.qa-template-questions .qa-q-item-avatar-meta .qa-q-item-who,
.qa-template-search .qa-q-item-avatar-meta .qa-q-item-who,
{
    display: none;
}


.qa-q-item-tag-list,
.qa-q-view-tag-list {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

li.qa-q-item-tag-item,
li.qa-q-view-tag-item {
    list-style-type: none;
    margin: 0 5px 0 0;
}

li.qa-q-view-tag-item a,
li.qa-q-item-tag-item a {
    border: 1px solid #999;
    border-radius: 3px 3px;
    color: #777;
    padding: 0px 4px;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}

li.qa-q-item-tag-item a:hover,
li.qa-q-view-tag-item a:hover {
    color: #444;
    border-color: #444;
}


/* Admin */

.qa-template-admin {
    font-size: 14px;
}

/* Side panel */

.qa-sidepanel {
    color: #555;
}


/* Ask Question Page */

.qa-template-question .qa-vote-buttons {
    display: flex;
}


.qa-template-question .qa-q-view-main,
.qa-template-question .qa-a-item-main,
.qa-template-question .qa-c-item-main {
    width: 100%;
}

.qa-template-ask .qa-form-tall-text,
.qa-template-question .qa-form-tall-text
{
    width: calc(100% - 20px);
    border: 1px solid #aaa;
    border-radius: 3px 3px;
    padding: 5px 10px;
}


/* Tags Page */

.qa-template-tags .qa-ranking-item {
    display: block;
    margin: 10px 0;
}

.qa-template-tags a.qa-tag-link {
    border: 1px solid #555;
    border-radius: 3px 3px;
    color: #333;
    padding: 0px 2px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
}

.qa-template-tags a.qa-tag-link:hover {
    color: #000;
    border-color: #000;
}


/* Specific Question Page */

.qa-template-question .qa-main {
    margin-top: 20px;
}


.qa-template-question .qa-main-heading h1 a {
    text-decoration: none;
    color: #333;
}

.qa-template-question .qa-main-heading h1 {
    margin-bottom: 20px;
}

.qa-template-question .qa-q-view {
    display: flex;
    flex-direction: row;
}

.qa-template-question .qa-q-view-content,
.qa-template-question .qa-a-item-content,
.qa-template-question .qa-c-item-content {
    color: #444;
}

.qa-template-question .qa-voting {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px 20px;
}

.qa-template-question li.qa-q-view-tag-item a {
    font-size: 16px;
}

.qa-template-question .qa-q-view-avatar-meta,
.qa-template-question .qa-a-item-avatar-meta,
.qa-template-question .qa-c-item-avatar-meta {
    text-align: right;
    margin: 20px 0 10px 0;
    display: block;
    border-top: 1px solid #aaa;
    padding: 20px 20px 0 0;
    color: #666;
    font-size: 14px;
}


.qa-template-question .qa-q-view-avatar-meta a,
.qa-template-question .qa-a-item-avatar-meta a,
.qa-template-question .qa-c-item-avatar-meta a {
    color: #444;
}

.qa-template-question .qa-q-view-avatar-meta a:hover,
.qa-template-question .qa-a-item-avatar-meta a:hover,
.qa-template-question .qa-c-item-avatar-meta a:hover {
    color: #111;
}




.qa-template-question .qa-q-view-buttons,
.qa-template-question .qa-a-item-buttons,
.qa-template-question .qa-c-item-buttons {
    text-align: right;
    padding: 0 20px 0 0;
}

.qa-template-question .qa-form-light-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 0 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.qa-template-question .qa-form-light-button:hover {
    color: #111;
}

.qa-template-question .qa-a-form h2 {
    font-size: 32px;
    color: #333;
    font-weight: normal;
}

/* - Answers */

.qa-template-question .qa-part-a-list h2 {
    margin: 60px 0 40px 0;
    font-size: 32px;
    color: #333;
    font-weight: normal;
}

.qa-template-question .qa-a-list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    padding: 20px 10px 30px 10px;
}

.qa-template-question .qa-a-list-item.qa-a-list-item-selected {
    box-shadow: 0 0  6px rgba(0, 0, 0, 0.3);
}

.qa-template-question .qa-a-form,
.qa-template-question .qa-c-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.qa-template-question .qa-a-form h2 {
    margin: 50px 0 20px 0;
    font-size: 24px;
}


/* - Comments */


.qa-template-question .qa-c-list-item {
    margin: 10px 0 20px 0;
}

.qa-template-question .qa-c-form h2 {
    margin: 30px 0 10px 0;
    font-size: 24px;
}

.qa-template-question .qa-a-item-c-list {
    margin: 40px 0 0 40px;
}


/* Widgets */

.qa-sidepanel h2 {
    margin: 30px 0 10px 0;
    font-weight: bold;
    font-size: 14px;
}

.qa-related-qs {
    margin-top: 30px;
}

.qa-related-q-list {
    margin: 10px 0;
}

li.qa-related-q-item {
    list-style-type: none;
    margin: 5px 0;
}

li.qa-related-q-item a {
    color: #555;
}


/* Page Nav */

.qa-page-links {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.qa-page-links-list {
    display: flex;
    flex-direction: row;
}

li.qa-page-links-item {
    list-style-type: none;
    margin: 0 5px;
    display: block;
    border: 1px solid #ccc;
    min-width: 20px;
    text-align: center;
    line-height: 30px;
}

li.qa-page-links-item a,
.qa-page-selected
{
    min-width: 30px;
    line-height: 40px;
    display: block;
    padding: 5px 10px;
}

.qa-page-selected {
    color: #888;
}

.qa-page-links-label {
    line-height: 40px;
    margin: 5px 10px 0 0;
}


/* Notices */

.qa-notice {
    border: 1px solid #aaa;
    margin: 10px 10px;
    padding: 10px 40px 10px 10px;
    text-align: center;
}

.qa-notice-close-button {
    position: absolute;
    right: 40px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px 5px;
    margin-top: -4px;
    background: none;
    cursor: pointer;
    font-weight: bold;
}

.qa-notice-close-button:hover {
    color: #aaa;
}


/* Edsu Auth */

.edsu-auth {
    position: relative;
}

.edsu-auth .widget-feedback {
    color: #620f0f;
    font-weight: bold;
}

.edsu-auth .widget-spacer {
    padding-top: 60px;
}

.edsu-auth .widget {
    position: absolute;
    top: 0;
    right: 0;
    width: 185px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 5px 5px;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px 3px;
}

.edsu-auth .widget.shown {
    width: 338px;
}

.edsu-auth .widget a {
    text-decoration: none;
}

.edsu-auth .widget input {
    width: 146px;
    font-size: 13px;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.edsu-auth .widget.shown input {
    width: 243px;
}

.edsu-auth .widget button {
    display: none;
}

.edsu-auth .widget.shown button {
    display: block;
    cursor: pointer;
    width: 50px;
    padding: 0 0;
    border: 1px solid #aaa;
    border-radius: 5px 5px;
    background: none;
}

.edsu-auth .widget.shown button:hover {
    border-color: #444;
    color: #000;
}

h2.your-account-heading {
    margin-top: 0;
}


/* User page */

.qa-template-user .qa-part-form-activity .qa-form-wide-buttons {
    padding-top: 20px;
}

